*{
    font-family: cursive;
    line-height: 1.7em;
    
}
h2{
    text-align: center;
    font-size: 40px;
}
#titl{
    text-align: center;
    font-size: 25px;
    
}
#bb{
    margin-left: 30em;
    text-align: justify;
    margin-right: 30em;
}
P{
    margin-left: 10em;
}